<div class="navbar-wrapper">
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href=".">Sara Robinson</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li>
							<%= link_to "Resume", resume_path %>
						</li>
						<li>
							<%= mail_to "sararob@brandeis.edu", "Contact", :subject => "Hello there" %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
