<div id="social">
<ul class="social">
	<li>
		<%= link_to (image_tag('linkedin-icon.png')), "https://linkedin.com/pub/sara-robinson/24/779/403/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to (image_tag('twitter-icon.png')), "https://twitter.com/SRobTweets", :target => "_blank" %>
	</li>
	<li>
		<%= link_to (image_tag('instagram.png')), "http://instagram.com/sararob", :target => "_blank" %>
	</li>
	<!--<li>
		link_to (image_tag('github.png')), "https://github.com/sararob", :target => "_blank" %>
	</li>-->
	<li>
		<%= link_to (image_tag('facebok-icon.png')), "https://www.facebook.com/sara.robinson.35", :target => "_blank" %>
	</li>
</ul>
</div>