<%= render 'navbar' %>
<div id="myCarousel" class="carousel">
	<div class="carousel-inner">
	    <div class="item active">
				<div class="carousel-caption about-me">
					<h1>About Me</h1>
					<p class="lead">Stuff about me.</p>
				</div>
			</div>
	  </div>
	</div>
	
<%= render 'social' %>
