<div class="littleme">
	<%= image_tag "littleme.JPG" %>
</div>
<br>
<p class="little-caption">
	That's me showing
	<%= link_to "Senator Kerrey", "http://en.wikipedia.org/wiki/Bob_Kerrey", :target => "_blank" %>
	(left) how to use a CD-ROM at the grand opening of the
	<%= link_to "New Media Center", "http://is.unl.edu/nmc/home", :target => "_blank" %> at University of Nebraska-Lincoln.
</p>