@font-face {
  font-family: OpenSansRegular;
  src: url('OpenSans-Regular.ttf');
}

@import "bootstrap";
@import "bootstrap-responsive";

body {
  font-family: OpenSansRegular;
  a {
    color:white;
  }
}


.navbar-wrapper {
    font-family: OpenSansRegular;
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:10;
	margin-top:20px;
}

.item {
	position:relative;
	height:400px;
}

.carousel .item {
	height:400px;
}

.carousel-caption {
	background-color:transparent;
	position: absolute;
	max-width:550px;
	padding:0 20px;
	right:0;
	bottom:0;
	left:0;
	margin-left:75px;
	margin-bottom:150px;
    font-family: OpenSansRegular;
}

.carousel .container {
	position:relative;
	z-index:9;
}

.carousel img {
	position:absolute;
	top:0;
	left:0;
	min-width:100%;
	height:400px;
}

.carousel-caption h1, .carousel-caption .lead {
	margin:0;
	line-height:1.25;
	color:black;
}

/* Little me page */

.littleme {
	margin-left:20px;
	margin-top:20px;
}

.little-caption {
	margin-left:20px;
	max-width:450px;
	a {
		color:#1589FF;
	}
}

/* Social link footer */

.social {
	margin:0 auto;
	text-align:center;
	a {
		color:black;
		font-size:110%;
	}
}

.social ul {
	list-style-type:none;
	display:inline;
}

.social li {
	display:inline;
	padding:10px;
}


/* Resume */

.resume {
	margin-top:100px;
	margin-left:40px;
	a {
		color:#1589FF;
	}
}

hr {
	width:1000px;
	color:black;
	height:3px;
}

/* Coding projects */

.projects li {
	list-style-type:none;
	padding:10px;
	font-weight:bold;
	font-size:110%;
}

.container-fluid {
	margin-top:100px;
	margin-left:40px;
	a {
		color:#1589FF;
	}
	
	p {
		font-size:120%;
		a {
			color:#6D2062;
		}
	}
	h3 {
		display:inline;
		padding:5px;
		a {
			color:#00B6CB;
		}
	}
	.span2 {
		border-right:3px solid black;
	}
	.content {
		display:none;
	}
	
}