$baseFontFamily: Podkova;
@import url(http://fonts.googleapis.com/css?family=Podkova);

@import "bootstrap";
@import "bootstrap-responsive";

.navbar-wrapper {
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:10;
	margin-top:20px;
}

.item {
	position:relative;
	height:400px;
}

.carousel .item {
	height:400px;
}

.carousel-caption {
	background-color:transparent;
	position: absolute;
	max-width:550px;
	padding:0 20px;
	right:0;
	bottom:0;
	left:0;
	margin-left:75px;
	margin-bottom:150px;
}

.carousel .container {
	position:relative;
	z-index:9;
}

.carousel img {
	position:absolute;
	top:0;
	left:0;
	min-width:100%;
	height:400px;
}

.carousel-caption h1, .carousel-caption .lead {
	margin:0;
	line-height:1.25;
	color:black;
}

.littleme {
	margin-left:20px;
	margin-top:20px;
}

.little-caption {
	margin-left:20px;
	max-width:450px;
	a {
		color:#1589FF;
	}
}

.social {
	margin:0 auto;
	text-align:center;
	a {
		color:black;
		font-size:110%;
	}
}

.social ul {
	list-style-type:none;
	display:inline;
}

.social li {
	display:inline;
	padding:10px;
}

.about-me {
	max-width:none;
	margin-bottom:200px;
}
.about-me h1 {
	text-align:center;
}

a {
	color:white;
	&:hover {
		color:#98AFC7;
	}
}

.me {
	float:left;
}

.resume {
	margin-top:100px;
	margin-left:40px;
	a {
		color:#1589FF;
	}
}

hr {
	width:1000px;
	color:black;
	height:3px;
}